site_name: Ellar
site_description: Ellar - Python ASGI web framework for building fast, efficient and scalable RESTAPIs and server-side application.
site_url: https://github.com/eadwinCode/ellar
repo_name: eadwinCode/ellar
repo_url: https://github.com/eadwinCode/ellar
edit_uri: blob/master/docs
copyright: |
  Copyright &copy; 2021 - 2023 <a href="https://github.com/eadwinCode"  target="_blank" rel="noopener">Eadwin Ezeudoh</a>

docs_dir: docs
site_dir: site

theme:
  name: material
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: pink
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: pink
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  language: en
  logo: img/Icon.svg
  favicon: img/Icon.svg
  icon:
    repo: fontawesome/brands/git-alt

plugins:
  - search:
        separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
        minify_html: true
  - git-revision-date-localized:
      enable_creation_date: false

nav:
  - Introduction: index.md
  - Overview:
      - Step One:  overview/index.md
      - Controllers:  overview/controllers.md
      - Providers:  overview/providers.md
      - Modules:  overview/modules.md
      - Middlewares:  overview/middleware.md
      - Exception Handling:  overview/exception_handling.md
      - Guards:  overview/guards.md
      - Custom Decorators:  overview/custom_decorators.md
      - Module Router:  overview/module-router.md
  - Execution Context: basics/execution-context.md
  - Configuration: configurations.md
  - How-to Guides:
      - Input Parsing: parsing-inputs/index.md
      - Path: parsing-inputs/path-params.md
      - Query: parsing-inputs/query-params.md
      - Header: parsing-inputs/header-params.md
      - Cookie: parsing-inputs/cookie-params.md
      - Body: parsing-inputs/body.md
      - Form: parsing-inputs/form-params.md
      - File: parsing-inputs/file-params.md
      - Handling Response:
          - Response Schema: handling-response/response.md
          - Response Model: handling-response/response-model.md
  - Templating:
    - html: templating/templating.md
    - Static Files: templating/staticfiles.md

  - Caching: caching.md
  - Rate Limiting: throttling.md
#  - Injection Scopes: basics/injection-scope.md
#  - Events: basics/events.md
  - Commands:
    - Introduction: commands/index.md
    - CLI Commands:
        - new: commands/new-command.md
        - create project: commands/create-project-command.md
        - create module: commands/create-module-command.md
        - runserver: commands/runserver-command.md
    - Custom Commands: commands/custom-commands.md
    - Command Grouping: commands/command-grouping.md
  - Versioning: basics/versioning.md
  - Testing: basics/testing.md
  - WebSockets: websockets.md
  - Mount: mount.md
  - Background Tasks: background-task.md
  - Release Notes: release-notes.md

markdown_extensions:
  - attr_list
  - toc:
      permalink: true
  - admonition
  - def_list
  - tables
  - abbr
  - footnotes
  - md_in_html
  - codehilite
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.saneheaders

extra_css:
  - stylesheets/extra.css
