aiohttp == 3.10.5
anyio[trio] >= 3.2.1
argon2-cffi == 25.1.0
autoflake
bcrypt; python_version >= '3.12'
click >= 8.1.7,<9.0.0,
email_validator >=1.1.1
itsdangerous >=1.1.0,<3.0.0
mypy == 1.18.2
orjson >= 3.2.1
pytest >= 6.2.4,< 9.0.0
pytest-asyncio
pytest-cov >= 2.12.0,< 8.0.0
python-multipart >= 0.0.5
python-socketio
regex==2025.9.18
ruff ==0.13.3
types-dataclasses ==0.6.6
types-orjson ==3.6.2
types-redis ==4.6.0.20240903
# types
types-ujson ==5.10.0.20250326
ujson >= 4.0.1
uvicorn[standard] == 0.30.6
